@{
    ViewData["Title"] = "Home Page";
}
<div class="alert alert-success w-50 mx-auto text-center rounded-3">
    <h2>Welcome To Our Hospital..♥</h2>
</div>
<div class="w-50 mx-auto text-center">
    <p class="fw-medium">
        Thank you for choosing our hospital for your healthcare needs.
        <br />
        Here, we strive to provide the highest quality medical care to our patients.
        Learn more about our services and specialties.
    </p>
</div>