@{
    ViewData["title"] = "Appointment";
}
<div class="alert alert-secondary  text-center w-50 mx-auto fw-bold text-dark">
    <h2>↓..All Doctores..↓</h2>
</div>
<div class="container">
    <div class="row">
        @foreach (var d in Model)
        {
            <div class="col-3  px-3 mt-3">
                <div class="card card-animation rounded-5">
                    <img src="~/imgs/@d.Img" class="card-img-top rounded-5" style="max-height:240px;" alt="doctor img">
                    <hr />
                    <div class="card-body pt-0">
                        <h5 class="card-title">@d.Name</h5>
                        <p class="card-text">Specialization: @d.Specialization</p>
                        <hr class="w-50 mx-auto" />
                        <div class="text-center">
                            <a href="/Appointment/TakeAppointment?drName=@d.Name&drId=@d.Id" class="btn  px-4 rounded-3 fw-medium btn-primary">Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<style>
    .card-animation:hover {
        transform: scale(1.035); 
        transition: transform 0.4s ease;
        box-shadow: 0px 0px 40px #a2a2ff;
        cursor:pointer;
    }

</style>